body {
  margin: 0;
  align-items: center; /*выравнивание всех элементов по центру по горизонтали*/
  justify-content: center; /*выравнивание каждого элемента контейнера по центру*/
  font-family: Tahoma;
  font-size: 18px;
  color: #2B3140;
}

.header {
font-family: Verdana;
font-size: 16px;
color: #ffffff;
text-align: center;
padding: 15px; /* ширина полоски */

background-color: #252c3c; 
}

/*Список меню с фиксацией по горизонтали*/

li {
  text-align: left;
}

	
nav ul li {
	display: inline-block; /*отображение элементов списка меню горизонтально, а не вертикально*/
	}
nav a {
	font-size: 16px;   
	color: #EDEEEE;	
	line-height: 5px;
	padding: 0 10px;
	text-decoration: none;
}
nav a:hover { 
    text-decoration: underline;
	color: #AFD275;
}

/*КОНТЕНТ*/

h1 {
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  text-align: center;
  font-size: 18px;
  
  height: 35px;
  margin-top: 5px;
}

p {
  font-size: 18px;
  color: #2B3140;
  text-align: left;
  
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.zag {
  font-size: 25px;
  text-align: center;
  
  height: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer {
font-family: Verdana;
color: #ffffff;
font-size: 16px; 
text-align: center;

padding: 20px; /* ширина полоски */
margin-top: 10px;
background-color: #7E685A;
}

/* КОНТЕЙНЕР FLEX */  
.container {
  display: flex;
  flex-wrap: wrap;
  /*border: solid #5B6DCD 1px;/* рамка для проверки */  
}

.centrirovanie {
display: flex;
justify-content: center;
align-items: center; /*выравниванием элементов по поперечной оси */ 
margin-top: 0px;
}

/* 3 БЛОКА МЕНЮ + FLEX container centrirovanie */  

.articleN {
        max-width: 400px; 
		height: 180px;
		padding: 10px;
        margin: 20px;
		border-radius: 15% 2%;  /*закругляшки*/
		color: ffffff;
		
        background: #AFD275;
}
	  


/* ТАБЛИЦА */  



.table {
  font-size: 18px;
  border-style: none;
  border-collapse: collapse;
  
  width: 100%;
  max-width: 1350px;
  margin: 0 auto; /* Центрирование */
  
 /* border: solid #5B6DCD 1px;/* рамка для проверки */ 
}

.zag-table {
  font-size: 20px;
  text-align: center;
  
  margin-bottom: 10px;
  margin-top: 10px;
}

.th  {
  border: #adadad; 
  color: #2B3140;
  text-align: center;
  color: #ffffff;
  background-color: #7E685A;
  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-right: 5px; 
  margin-left: 1px;	
  height: 40px;
}

.td  {
border: #adadad;
text-align: center;

padding-left: 10px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 5px;
margin-right: 5px; 
margin-left: 1px; 
height: 40px;
}



/*СЛАЙДЕР*/

.slider {
   width: 800px;
   height: 500px;
   /*margin-top: 880px; отступ слайдера */
   overflow: hidden; /*поведение, когда содержимое не помещается в поле заполнения элемента (переполняется) в горизонтальном и/или вертикальном направлении.*/
   border: 10px solid #cccdce;
}

.middle {
   position: static; /* Элемент удаляется из обычного потока документов, и для него не создается места в макете страницы.  */
   top: 5%;
   left: 0%;
   margin-top: 10px;
   transform: translate(-0%, -0%); /* позволяет поворачивать, масштабировать, наклонять или переводить элемент. translate -  */
   width: 50%; /* Относительная ширина контейнера */
   height: 50%;
   margin: 0 auto; /* Центрирование */
}

.slides {
   width: 400%; /* Увеличение размера фото*/
   height: 100%; /* Увеличение размера фото*/
   display: flex; /* Элемент ведет себя как элемент уровня блока и размещает свое содержимое в соответствии с моделью flexbox.*/
}

.slide {
   width: 25%;
   transition: all 0.6s ease;
}

.img { 
   width: 100%; /* сжатие размера каждого фото отностительно рамки*/
   height: 100%; /* сжатие размера каждого фото отностительно рамки*/
}
/* Адаптивные фото
img {
  max-width: 100%;
  height: auto;
}
*/





#r1:checked ~ .s1 {
   margin-left: 0;
}

#r2:checked ~ .s1 {
   margin-left: -25%;
}

#r3:checked ~ .s1 {
   margin-left: -50%;
}

#r4:checked ~ .s1 {
   margin-left: -75%; 
}

input[name="r"] { 
   position: absolute; /* Элемент удаляется из обычного потока документов, и для него не создается места в макете страницы.  */
   visibility: hidden; /*скрывает элемент без изменения макета документа*/
}

.navigation {
   position: absolute; /* Элемент удаляется из обычного потока документов, и для него не создается места в макете страницы.  */
   bottom: 16px; /* участвует в установке вертикального положения позиционируемого элемента. */
   left: 50%;
   transform: translateX(-50%); /* перемещает элемент горизонтально в 2D-плоскости - влево + вправо 0 не перемещает. */
   display: flex; /* Элемент ведет себя как элемент уровня блока и размещает свое содержимое в соответствии с моделью flexbox.*/  
}

.bar {
   width: 50px;
   height: 8px;
   margin: 6px;
   cursor: pointer; /*Курсор — это указатель, который указывает на ссылку. Как правило, изображение указывающей руки.*/
   background-color: #000;
   opacity: .5;  /*задает непрозрачность элемента */
  border-radius: 5px;  /*округляет углы внешнего края границы элемента */
  transition: all 0.4s ease;  /* задержка в ...., прежде чем произойдет...*/
}

.bar:hover {
   opacity: 1; /*задает непрозрачность элемента */
   transform:scale(1.1); /* растягивает по горизонтали + по вертикали*/
   
}



/*НОВОСТИ*/

section {
        display: flex; /*каждый flex-элемент будет занимать одинаковое количество места в flex-контейнере*/
		justify-content: center;
		flex-wrap: wrap;
		/*border: solid #5B6DCD 1px;/* рамка для проверки */ 
      }
	  
.column {
	flex-direction: column;
}
	  
article {
    flex: 1 400px;
	/*border: solid 3px;*/
	margin: 20px;
	/*border: solid #2B3140 1px;/* рамка для проверки */ 
}

.markers li::marker {
	font-size: 20px;
	color: #aeafb2;
	
}

/*ТЕКСТ ПРИ НАВЕДЕНИИ*/

.help:hover {
	color: #858784;
}


blockquote {
	display:none;
	
}

tr:hover blockquote {
	display:inline;
	background-color: rgb(126, 104, 89, 0.85);
	color: #ffffff;
	font-size: 14px;
	padding: 10px 10px 10px 10px; 
	border-radius: 7px;
	position: absolute;
	margin-left: 25px;
	margin-top: -10px;	
	text-transform: none; 
}


/*ТЕКСТ ПРИ НАВЕДЕНИИ NEW*/

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 600px;
  background-color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
