<style>

body {
  margin: 0;
  align-items: center;
  justify-content: center;
}


section {
        display: flex; /*каждый flex-элемент будет занимать одинаковое количество места в flex-контейнере*/
		width: 98%;
		justify-content: center;
		flex-wrap: wrap;
      }
	  
article {
    flex: 1 400px;
	/*border: solid 3px;*/
	margin: 20px;
}



p {
  text-align: left;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 15px;
  color: #2B3140;
}

h1 {
  font-size: 27px;
  text-align: center;
  font-family: Verdana;
  color: #2B3140;
  margin-top: 30px;
  margin-bottom: 5px;
}

h2 {
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
  font-family: Verdana, sans-serif;
  color: #2B3140;
  background: #AFD275;
  height: 35px;
}

li {
  text-align: left;
  margin-left: 5px;
  margin-right: 15px;
  color: #2B3140; 
}

/*Меню с фиксацией по горизонтали*/
	
nav ul li {
	display: inline-block;
	}
nav a {
	display: block;
	padding: 0 10px;
	font-size: 16px;
	line-height: 5px;
	text-decoration: none;
	color: #EDEEEE;
}
nav a:hover { 
    text-decoration: underline;
	color: #AFD275;
}


.header {
background-color: #2B3140; 
color: #ffffff;
text-align: center;
font-family: Verdana, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* border: solid #5B6DCD 1px;/* рамка для проверки */ 
  
}

.height {
	height: 50px;
}


.centrirovanie{
display: flex;
width: 98%;
justify-content: center;
align-items: center;
margin-top: 0px;

}

.articleN {
        padding: 10px;
        margin: 20px;
		height: 180px;
		max-width: 400px; 
        background: #AFD275;
		border-radius: 15% 2%;  /*закругляшки*/
      }
	  


.containerH {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
 /* border: solid 5px #5B6DCD; /* рамка для проверки */ 
  
}

.centrirovanieH {
display: flex;
justify-content: center;
align-items: center;
}



.th1 {
  color: #2B3140;
  text-align: left;
  background-color: #AFD275;
  height: 45px;
  margin-right: 20px;
  padding-left: 10px;
  padding-top: 10px;
  
}

.td1  {
color: #2B3140;
text-align: left;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  /* border: solid #5B6DCD 1px;/* рамка для проверки */ 
  
}
.centrirovanie1{
display: flex;
justify-content: left;
align-items: left;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  /* border: solid #5B6DCD 1px;/* рамка для проверки */ 
  
}
.centrirovanie2{
display: flex;
justify-content: left;
align-items: left;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
  /* border: solid #5B6DCD 1px;/* рамка для проверки */ 
  
}
.centrirovanie3{
display: flex;
justify-content: left;
align-items: left;
}

.container-table1 {
width: 98%; /* Относительная ширина контейнера */ 
margin: 0 auto; /* Центрирование */
font-size: 18px;
flex-wrap: wrap;
}

.table1 {
  width: auto;
  border-style: none;
  border-collapse: collapse;
  color: #2B3140;
  flex-wrap: wrap;
}

.footer {
background-color: #7E685A;
color: #2B3140;
text-align: center;
padding: 10px; /* ширина полоски */

font-family: Verdana, sans-serif;
font-size: 20px; 
}

	  
.article1 {
	    margin-bottom: 18px;
        padding: 10px;
		max-width: 400px; 	
	    border-radius: 20% 2%;  /*закругляшки*/
		vertical-align: top;
		height: 350px;
      }

.aside, .main {
  width: 100%;
  min-height: 1px;
}






@media (min-width: 320px) {
  .aside {
    flex: 0 0 33.333333%;
    order: 1;
  }
  .main {
    flex: 0 0 66.666667%;
    order: 2;
  }
}

@media (min-width: 1400px) {
  .aside {
    flex: 0 0 25%;
    max-width: 25%;
	order: 1;
  }
  .main {
    flex: 0 0 75%;
	order: 2;
  }
}
 
	  



/* ЦЕНТРИРОВАНИЕ ТАБЛИЦЫ */

.zag {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 25px;
  font-family: Verdana, sans-serif;
  color: #2B3140;
  height: 30px;
}

.container-table {
width: 65%; /* Относительная ширина контейнера */ 
margin: 0 auto; /* Центрирование */
padding-bottom: 10px;
}

.table {
  max-width: 950px;
  width: 80%;
  font-size: 18px;
  border-style: none;
  border-collapse: collapse;
  color: #2B3140;
  margin: 0 auto; /* Центрирование */

}

.th  {
  border: #adadad; 
  color: #2B3140;
  text-align: center;
  background-color: #7E685A;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.ya4eiki {
 height: 40px;
}


.td  {
border: #adadad;
color: #2B3140;
text-align: center;
padding-left: 10px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 5px;
}

.zag-table {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #2B3140;
  font-size: 20px;
}

.container {
width: 100%; /* Уменьшение ширины контейнера */
}
}




/*слайдер*/
* {
   margin: 0;
   padding: 0;
}

.slider {
   width: 800px;
   height: 500px;
   /*margin-top: 880px; отступ слайдера */
   overflow: hidden; /*поведение, когда содержимое не помещается в поле заполнения элемента (переполняется) в горизонтальном и/или вертикальном направлении.*/
   border: 10px solid #cccdce;
}

.middle {
   position: static; /* Элемент удаляется из обычного потока документов, и для него не создается места в макете страницы.  */
   top: 5%;
   left: 0%;
   margin-top: 10px;
   transform: translate(-0%, -0%); /* позволяет поворачивать, масштабировать, наклонять или переводить элемент. translate -  */
   width: 50%; /* Относительная ширина контейнера */
   height: 50%;
   margin: 0 auto; /* Центрирование */
}

.navigation {
   position: absolute; /* Элемент удаляется из обычного потока документов, и для него не создается места в макете страницы.  */
   bottom: 16px; /* участвует в установке вертикального положения позиционируемого элемента. */
   left: 50%;
   transform: translateX(-50%); /* перемещает элемент горизонтально в 2D-плоскости - влево + вправо 0 не перемещает. */
   display: flex; /* Элемент ведет себя как элемент уровня блока и размещает свое содержимое в соответствии с моделью flexbox.*/  
}


.bar {
   width: 50px;
   height: 8px;
   margin: 6px;
   cursor: pointer; /*Курсор — это указатель, который указывает на ссылку. Как правило, изображение указывающей руки.*/
   background-color: #000;
   opacity: .5;  /*задает непрозрачность элемента */
  border-radius: 5px;  /*округляет углы внешнего края границы элемента */
  transition: all 0.4s ease;  /* задержка в ...., прежде чем произойдет...*/
}

.bar:hover {
   opacity: 1; /*задает непрозрачность элемента */
   transform:scale(1.1); /* растягивает по горизонтали + по вертикали*/
   
}

input[name="r"] { 
   position: absolute; /* Элемент удаляется из обычного потока документов, и для него не создается места в макете страницы.  */
   visibility: hidden; /*скрывает элемент без изменения макета документа*/
}

.slides {
   width: 400%; /* Увеличение размера фото*/
   height: 100%; /* Увеличение размера фото*/
   display: flex; /* Элемент ведет себя как элемент уровня блока и размещает свое содержимое в соответствии с моделью flexbox.*/
}

.slide {
   width: 25%;
   transition: all 0.6s ease;
}

.img { 
   width: 100%; /* сжатие размера каждого фото отностительно рамки*/
   height: 100%; /* сжатие размера каждого фото отностительно рамки*/
}

#r1:checked ~ .s1 {
   margin-left: 0;
}

#r2:checked ~ .s1 {
   margin-left: -25%;
}

#r3:checked ~ .s1 {
   margin-left: -50%;
}

#r4:checked ~ .s1 {
   margin-left: -75%; 
}


.markers li::marker {
	color: #AFD275;
}


.txt {
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  color: #2B3140;
}

.ul-txt {
	padding-top: 10px;
}

</style>
















